@* Landing page *@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 mexico text-center">
        <p class="text-big thick-text">Instant Payments,<br /> Worldwide.</p>
        <a href="@Url.Action("Index","Register") " class="btn btn-primary big-button"><span>Sign up for free</span></a><br />
        <a href="#info" class="btn btn-default big-button"><span>Learn More</span></a>
    </div>
</div>
<a name="info"></a>




