<html>
<head>
    <title>RECOVER YOUR PASSWORD</title>
</head>
<body>
    Hi,<br /><br />
    We received a request to reset your password. Click on the link below to set a new
    password for your account.
    <br />
    <br />
    <a href='<%ForgotPasswordLink%>' target='_blank'>Click Here</a>
    <br />
    <br />
    If you did not request to reset your password, ignore this email and no changes
    will be made to your account.<br />
    This link will expire in 24 hours.
    <br>
    <br>
    Best Regards,<br />
    The PHED Team
    <br />
    <br />
    For support, please call
    <%SupportPhone%>
    or email to
    <%SupportEmail%>
</body>
</html>
