@{
    ViewBag.Title = "PHED Agent Management System - Reset Password";
    Layout = "~/Views/Shared/_anonymusLayout.cshtml";
}
<h2>
    <span>Reset Password</span>
</h2>
<div>
    An email has been sent. Follow the instructions provided to reset your password.
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
        @Html.ActionLink("Done", "Index", "Login")

    </div>
</div>
