@{
    ViewBag.Title = "PHED Agent Management System - Reset Password";
    Layout = "~/Views/Shared/_anonymusLayout.cshtml";
}
<h2 class='head_title'>
    <span>Reset Password</span>
</h2>
<div class="success_div">
    Your password has been reset successfully.Please login.
</div>
<div class="row">
    <div class="col-md-offset-4 col-md-4 text-center">
        @Html.ActionLink("Done", "Index", "Login")

    </div>
</div>