
@{
    ViewBag.Title = "_UserHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h3 {
        text-align: center;
    }
</style>
<div>
    <h3>Welcome to Agent Management System</h3>  
</div>


